@media screen and (max-width: 760px) {
    header {
        flex-direction: column;
    }
    main {
        flex-direction: column;
        }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 25px;
    }
    form {
        margin: 0 auto;
        width: 100%;
    }

    input {
        align-self: center;
    }

    
    ul {
        text-align: center;
    }

    form [type='submit'] {
        height: 40px;
        width: 100px;
        color: #002776;
        background-color: #ffdf00;
        font-weight: bold;
        align-self: center;
        font-size: 13px;
    
    }

}

